@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base {
    *::-webkit-scrollbar {
        width: 5px;
    }
    *::-webkit-scrollbar-thumb {
        background: #5C5589;
        border-radius: 3px;
    }
}